:root {
  --border-color-vignette: black;
  --border-size-vignette: 4px;
  --background-color-header: #192e03;
  --background-color-section-type-produits: #192e03;
  --background-color-body: #192e03;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color-body);
}

header {
  width: 100%;
  height: 8em;
  background: linear-gradient(
    to top,
    var(--background-color-section-type-produits),
    black
  );
  text-align: center;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
}

.img-logo {
  width: 35%;
}

.section-type-produits {
  width: 100%;
  position: absolute;
  top: 8em;
  background-color: var(--background-color-section-type-produits);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 0px;
}

.grid-item {
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  width: 90%;
  height: 8em;
  border: var(--border-size-vignette) double var(--border-color-vignette);
}

.img-grid {
  width: 100%;
  height: 100%;
}

.button-categorie {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.composant-sdb {
  position: absolute;
  top: 8em;
  width: 100%;
  height: 29em;
  overflow: scroll;
  background-color: var(--background-color-body);
}
